<ng-template #systemMessage let-object>
  <div class="system-message">
    <img src="/images/message-icon.svg" alt="message-icon">
    <div class="text-content">
      <span>{{ object.type }}</span>
      <span>{{ object.message }}</span>
    </div>
    <div class="message-close-button" (click)="messageService.closeMessage(object)"></div>
  </div>
</ng-template>

<div class="messages-box">
  @for (message of messageService.messages; track message) {
    <ng-container [ngTemplateOutlet]="systemMessage" [ngTemplateOutletContext]="{ $implicit: message }"></ng-container>
  }
</div>
