<div class="post-detail">
  @if (post$ | async; as post) {
    <article class="post-detail__card">
      <header class="post-detail__header">
        <span class="post-detail__id">Post #{{ post.id }}</span>
        <span class="post-detail__user">User #{{ post.userId }}</span>
      </header>

      <h1 class="post-detail__title">{{ post.title }}</h1>

      <p class="post-detail__body">{{ post.body }}</p>

      @if (post.tags.length) {
        <div class="post-detail__tags">
          @for (tag of post.tags; track $index) {
            <span class="post-detail__tag">{{ tag }}</span>
          }
        </div>
      }

      <footer class="post-detail__footer">
        <div class="post-detail__stats">
          <span class="post-detail__stat"> views {{ post.views }} </span>
          <span class="post-detail__stat post-detail__stat--likes">
            likes {{ post.reactions.likes }}
          </span>
          <span class="post-detail__stat post-detail__stat--dislikes">
            dislikes {{ post.reactions.dislikes }}
          </span>
        </div>
      </footer>
    </article>
  }
</div>
