.loader {
  position: fixed;
  right: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.banner {
  display: flex;
  height: 985px;
  background-image: url('/images/bg-mountains.jpg');
  width: 100%;
  background-size: cover;
  flex-direction: column;

    .banner-block {
      display: flex;
      justify-content: center;
      width: 100%;
      flex-direction: column;
      align-items: center;
        

        .menu-wrapper {
          flex-wrap: wrap;
          margin-top: 16px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 418px;
          column-gap: 6px;
          
            .switch-container {
              position: relative;
              height: 42px;
            }
            
            .switch-items-container {
              display: flex;
              justify-content: flex-end;
              width: 375px;
              position: absolute;
              right: 0;
              color: var(--secondary-color);
            }

            .switch-btn {
              height: 44px;
              width: 157px;
              margin-left: 40px;
            }
            
            .clicks-count-text {
              background-color: transparent;
              margin: 0px 15px;
            }
            
            .count-manipulate-btn {
              height: 24px;
              width: 12px;
              background-color: transparent;
              color: var(--secondary-color);
            }
            
            .company-logo {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: 137px;
              height: 72px;
              gap: 8px;

                img {
                  width: 137px;
                  height: 48px;
                }

                p {
                  text-align: center;
                  display: block;
                  text-transform: uppercase;
                  color: var(--secondary-color);
                  line-height: 11px;
                  width: 130px;
                  letter-spacing: 5px;
                }
            }

            .main-nav {
              align-items: center;
              display: flex;
              justify-content: space-between;
              width: 831px;
              height: 44px;

                .fast-links {
                  display: flex;
                  width: 625px;
                  gap: 24px;
                  list-style-type: none;

                  a {
                    color: var(--secondary-color);
                    text-decoration: none;
                    transition: color 0.1s ease;
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 18px;

                      &:hover {
                        color: #777777
                      }
                    
                  }
                }
                
                .btn-consultation {
                  text-transform: capitalize;
                  display: block;
                  width: 157px;
                  height: 44px;
                }
            }
        }

        .title-container {
          .banner-title {
            width: 1080px;
            height: 150px;
            color: var(--secondary-color);
            text-transform: uppercase;
            font-weight: 400;
            font-size: 50px;
            line-height: 150%;
          }
        }

        .super-search-forms-box {
          display: flex;
          height: 161px;
          background-color: rgba(255, 255, 255, 0.2);
          border-radius: 10px;
          margin-top: 41px;
          justify-content: center;
          align-items: center;
            
            .date-input {
              border: 1px solid var(--secondary-color);
              border-radius: 10px;
              background-color: transparent;
              height: 52px;
              width: 272px;
              color: var(--secondary-color);
            }

            input {
              color: var(--secondary-color);
            }

            input::placeholder {
              color: var(--secondary-color);
            }

            input[type="date"] {
              width: 254px;
              height: 50px;
              padding-left: 16px;
            }

            input[type="date"]::-webkit-calendar-picker-indicator {
                background: transparent;
                color: transparent;
                cursor: pointer;
                width: 18px;
                margin-right: 15px;
                background-image: url(/images/calendar-icon.svg);
                background-repeat: no-repeat;
            }

            input[type="text"] {
                background: transparent;
                cursor: pointer;
                box-sizing: border-box;
                background-image: url('/images/expand-arrow-icon.svg');
                padding-left: 16px;
                background-repeat: no-repeat;
                background-size: 20px;
                background-position: right 16px center;
            }

            .programs-select {
              color: var(--secondary-color);
              border-radius: 10px;
              border: 1px solid white;
              height: 52px;
              width: 272px;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              background-color: transparent;
              background-image: url('/images/expand-arrow-icon.svg');
              background-repeat: no-repeat;
              background-position: right 16px center;
              padding-right: 40px;
              padding-left: 10px;
            }
          
            .search-forms-box {
              height: 81px;
              width: 1095px;
              display: flex;
              justify-content: space-around;
              gap: 21px;

                .form-item-container {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;

                  .select-form {
                    display: flex;
                    justify-content:space-around;
                    align-items: center;

                      .expand-arrow-icon {
                        display: block;
                        width: 15px;
                        height: 8px;
                      }

                      .form-text {
                        display: flex;
                        height: 24px;
                        width: 210px;
                        align-items: center;
                      }

                      .calendar-icon {
                        height: 18px;
                        width: 18px;
                      }
                  }

                  .helper-text {
                    margin-top: 8px;
                    color: var(--secondary-color);
                    width: 254px;
                    height: 21px;
                  }
                }
                
                .send-form-button {
                  background-color: rgba(253, 253, 253, 1);
                  border-radius: 4px;
                  width: 213px;
                  height: 52px;
                  border: none;
                  color: rgba(26, 62, 62, 1);
                  cursor: pointer;
                  
                    &:hover {
                      background-color: rgba(250, 250, 250, 0.6);
                    }
                }
            }
        }
        
        .live-input-container {
          margin-top: 15px;
          width: 454px;
          height: 52px;
          
            .live-input {
              background-repeat: no-repeat;
              background-position: right 15px center;
              background-size: 14px 14px;
              background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE1IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggdHJhbnNmb3JtPSJyb3RhdGUoLTkwIDcuMjUgNCkiIGQ9Ik0xMy41IDAuMTdMNy4yNSA2LjI2TDEuMDEgMC4xN0MwLjkgMC4wNiAwLjc0IDAgMC41OCAwQzAuNDMgMCAwLjI4IDAuMDYgMC4xNyAwLjE3QTAuNTcgMC41NyAwIDAgMCAwLjE3IDAuOThMNi44MiA3LjQ2QzYuOTMgNy41OCA3LjA5IDcuNjQgNy4yNSA3LjY0QzcuNDEgNy42NCA3LjU3IDcuNTggNy42OSA3LjQ2TDE0LjM0IDAuOTlBMC41NyAwLjU3IDAgMCAwIDE0LjM0IDAuMTdDMTQuMjIgMC4wNiAxNC4wNyAwIDEzLjkxIDBDMTMuNzYgMCAxMy42MSAwLjA2IDEzLjUgMC4xN1oiIGZpbGw9IndoaXRlIi8+PC9zdmc+');
              background-color: transparent;
              color: var(--secondary-color);
              height: 52px;
              width: 270px;
              border: 1px solid white;
              border-radius: 8px;
              overflow: hidden;
              text-overflow: ellipsis;
              display: inline-block;
              box-sizing: border-box;
              padding-right: 45px;
              padding-left: 10px;
              
                &::placeholder {
                  color: var(--secondary-color);
                  font-size: 18px;
                }
            }
            
            .live-input-value {
              padding-left: 10px;
              color: var(--secondary-color);
              width: 150px;
              white-space: nowrap;
              overflow: hidden;
              display: inline-block;
              overflow-x: auto;
            }
        }
    }
}

.tour-programs {
  height: 726px;
  display: flex;
  justify-content: center;
  align-items: center;
  
    &-wrapper {
      height: 526px;
      display: flex;
      align-items: center;
      gap: 120px;
      
        .tour-videos {
          position: relative;
          height: 100%;
          width: 480px;
          
            .video {
              position: absolute;
              width: 350px;
              height: 400px;
              border-radius: 24px;
              
                &:first-child {
                  top: 0;
                  left: 0;
                  z-index: 1;
                  
                    &:hover {
                      transform: scale(1.1);
                      transition: transform 0.3s;
                    }
                }
                
                &:last-child {
                  bottom: 0;
                  right: 0;
                  z-index: 2;
                }
                
            }
            
            .current-video {
              height: 400px;
              width: 350px;
              position: absolute;
              bottom: 0;
              right: 0;
              display: flex;
              justify-content: center;
              align-items: center;
                
                &:hover {
                  transform: scale(1.1);
                  transition: transform 0.3s;
                  z-index: 5;
                }
              
                .play-button {
                  position: absolute;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  z-index: 10; 
                  height: 50px;
                  width: 50px;
                  background-color: rgba(253, 253, 253, 0.6);
                  border-radius: 100px;
                  cursor: pointer;
                  
                  &:hover {
                    background-color: rgba(253, 253, 253, 0.9);
                      .play-icon path {
                        fill: green;
                      }
                  }
                  
                    .play-icon {
                      display: block;
                      margin-left: 3px;
                      width: 14px;
                      height: 16px;
                    }
                }
            }
        }
        
        .tour-info {
          width: 580px;
          height: 398px;
          
            &-pre-title {
              color: var(--yellow-color);
              
              line-height: 20px;
            }
            
            &-title {
              margin-top: 8px;
              margin-bottom: 40px;
              line-height: 120%;
            }
            
            &-description {
              line-height: 150%;
              margin-bottom: 40px;
            }
            
            &-button {
              width: 200px;
              height: 52px;
            }
        }
    }
}

.offers-section {
  height: 771px;
  background-color: var(--bg-color-gray);
  display: flex;
  justify-content: center;
  
    .offers-section-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 88px;
      height: 591px;
      margin-top: 80px;
        
        .offers-block {
          display: flex;
          flex-direction: column;
          max-width: 580px;
          height: 100%;
            
            .active-service {
              background-color: black;
              color: white;
              transform: scale(1.1);
              transition: transform 0.3s;
              border-radius: 4px;
            }
            
            .programs-price-btn {
              width: 236px;
              height: 52px;
            }
            
            .pre-title {
              color: var(--yellow-color);
              line-height: 20px;
            }
            
            .title {
              margin-top: 8px;
              margin-bottom: 40px;
              line-height: 120%;
            }
            
            .description {
              line-height: 150%;
            }
            
            .offers-list {
              display: flex;
              flex-direction: column;
              gap: 40px;
              height: 272px;
              margin: 40px 0px;
                
                .offer {
                  cursor: pointer;
                  display: flex;
                  height: 64px;
                  gap: 16px;
                  align-items: center;
                  
                    .information {
                      flex-direction: column;
                      justify-content: space-between;
                      width: 514px;
                      height: 64px;
                    }
                    
                    .icon-bg {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      width: 50px;
                      height: 50px;
                      flex-shrink: 0;
                      border-radius: 4px;
                    }
                    
                    .offer-icon {
                      height: 36px;
                      width: 36px;
                    }
                }
            }
        }
        
        .photos-block {
          height: 510px;
          min-width: 510px;
          flex-wrap: wrap;
          gap: 10px;
          row-gap: 10px;
            
            img {
              height: 250px;
              width: 250px;
            }
            
            .top-left-photo {
              border-top-right-radius: 50px;
              border-bottom-left-radius: 50px;
            }
            
            .top-right-photo {
              border-top-left-radius: 50px;
              border-bottom-right-radius: 50px;
            }
            
            .bottom-left-photo {
              border-top-left-radius: 50px;
              border-bottom-right-radius: 50px;
            }
            
            .bottom-right-photo {
              border-top-right-radius: 50px;
              border-bottom-left-radius: 50px;
            }
        }
    } 
}


