<section class="banner">
  <div class="banner-block">
    <div class="menu-wrapper container">
      <div class="company-logo">
        <img src="/images/company-logo.svg" alt="Логотип Румтибет">
        <p>{{ companyName }}</p>
      </div>
      <div class="main-nav">
        <nav>
          <ul class="fast-links">
            <li><a>Главная</a></li>
            <li><a>Про гида</a></li>
            <li><a>Программа тура</a></li>
            <li><a>Стоимость</a></li>
            <li><a>Блог</a></li>
            <li><a>Контакты</a></li>
          </ul>
        </nav>
        <button class="main-green-btn btn-consultation semi-bold">консультация</button>
      </div>
    </div>
    <div class="title-container container">
      <h1 class="banner-title">
        насладись прогулкой в горах<br>с командой единомышленников
      </h1>
    </div>
    <div class="super-search-forms-box container">
      <div class="search-forms-box">
        <div class="form-container">
          <div class="tour-form select-form">
            <span class="form-text bold">Локация для тура</span>
            <img class="expand-arrow-icon" src="/images/expand-arrow-icon.svg" alt="expand arrow">
          </div>
          <span class="helper-text fs-14">выберите из списка</span>
        </div>
        <div class="form-container">
          <div class="tour-form select-form">
            <span class="form-text bold">Дата похода</span>
            <img class="calendar-icon" src="/images/calendar-icon.svg" alt="calendar image">
          </div>
          <span class="helper-text fs-14">укажите диапазон</span>
        </div>
        <div class="form-container">
          <div class="tour-form select-form">
            <span class="form-text bold">Участники</span>
            <img class="expand-arrow-icon" src="/images/expand-arrow-icon.svg" alt="expand arrow">
          </div>
          <span class="helper-text fs-14">минимум 4 человека</span>
        </div>
        <button class="send-form-button bold">Найти программу</button>
      </div>  
    </div>
  </div>
</section>