<section class="banner">
  <div class="banner-block">
    <div class="title-container container">
      <h1 class="banner-title">
        насладись прогулкой в горах<br>с командой единомышленников
      </h1>
    </div>
    <div class="super-search-forms-box container">
      <form class="search-forms-box" #tourForm="ngForm">
          <div class="form-item-container">
            <select
              name="location-select"
              id="city-select"
              class="bold programs-select"
              [(ngModel)]="selectedTourLocation"
              required
            >
              <option [value]="undefined" hidden>Локация для тура</option>
              @for (city of cities; track city.value) {
                <option [value]="city.value">
                  {{ city.label }}
                </option>
              }
            </select>
            <span class="helper-text fs-14">выберите из списка</span>
          </div>
        <div class="form-item-container">
          <input
            id="date-select"
            name="dateInput"
            class="date-input bold"
            type="text"
            placeholder="Дата похода"
            onfocus="(type='date')"
            onblur="(!value) ? type='text' : null"
            [(ngModel)]="selectedTourDate"
            required
          >
          <span class="helper-text fs-14">укажите диапазон</span>
        </div>
        <div class="form-item-container">
          <select
            name="person-select"
            id="person-select"
            class="bold programs-select"
            required
            [(ngModel)]="selectedPerson"
          >
            <option [value]="undefined" hidden>Участники</option>
              @for (person of persons; track person.value) {
                <option [value]="person.value">
                  {{ person.label }}
                </option>
              }
          </select>
          <span class="helper-text fs-14">выберите из списка</span>
        </div>
        <button [disabled]="tourForm.invalid" class="send-form-button bold" id="program-select-button">Найти программу</button>
      </form>
    </div>
    <div class="container">
      <div class="live-input-container flex ai-center">
        <input
          id="live-input"
          type="text"
          class="live-input"
          placeholder="Живой инпут"
          [(ngModel)]="liveInputValue"
        >
        <span class="live-input-value">{{ liveInputValue }}</span>
      </div>
    </div>
  </div>
</section>

<section class="white-bg tour-programs">
  <div class="tour-programs-wrapper container">
    <div class="tour-videos">
      <img src="/images/mountains.jpg" alt="second video" class="video">
      <div class="current-video">
        <button class="play-button" id="tour-video-play-button">
          <svg class="play-icon" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.74267 0.241409C2.46389 0.0821678 2.14819 -0.00107431 1.82714 1.04681e-05C1.50609 0.00109524 1.19096 0.0864689 0.913263 0.24759C0.63557 0.408711 0.405057 0.63993 0.244785 0.918114C0.0845135 1.1963 0.000103536 1.51169 0 1.83274V13.3406C0.000103536 13.6616 0.0845135 13.977 0.244785 14.2552C0.405057 14.5334 0.63557 14.7646 0.913263 14.9257C1.19096 15.0868 1.50609 15.1722 1.82714 15.1733C2.14819 15.1744 2.46389 15.0911 2.74267 14.9319L12.8113 9.17708C13.0917 9.01666 13.3248 8.785 13.4869 8.50555C13.6489 8.22611 13.7343 7.90879 13.7343 7.58574C13.7343 7.26269 13.6489 6.94538 13.4869 6.66593C13.3248 6.38648 13.0917 6.15482 12.8113 5.99441L2.74267 0.241409Z" fill="#1A3E3E"/>
          </svg>
        </button>
        <img src="/images/wooden-hut-alps.jpg" alt="current video" class="video">
      </div>
    </div>
    <div class="tour-info">
      <span class="main-pre-title">о нашем походе</span>
      <h2 class="main-title">Исследуйте все горные массивы мира вместе с нами</h2>
      <p class="tour-info-description fs-18">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской литературе.</p>
      <button
      class="main-green-btn tour-info-button"
      id="tour-program-button"
      (click)="messageService.showWarn('Программа не доступна')"
      >
        Программа тура
      </button>
    </div>
  </div>
</section>

<section class="offers-section">
  <div class="offers-section-container container">
    <div class="offers-block">
      <span class="main-pre-title">наше предложение</span>
      <h2 class="main-title">Лучшие программы для тебя</h2>
      <p class="description fs-18">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.</p>
      <div class="offers-list">
        @for (offer of offers; track offer.id) {
          <div class="offer" [class.active-service]="offer.id === selectedServiceId" (click)="selectOffer(offer.id)" id="offer-select-button">
            <div class="icon-bg" [style.background-color]="offer.bgColor">
              <img [src]="offer.icon" alt="offer icon" class="offer-icon">
            </div>
            <div class="information flex">
              <span class="fs-18 bold">{{ offer.name }}</span>
              <p class="fs-14">{{ offer.description }}</p>
            </div>
          </div>
        }
      </div>
      <button
        class="main-green-btn programs-price-btn"
        id="program-prices-button"
        (click)="messageService.showInfo('Стоимость отправлена на почту')"
      >
        Стоимость программ
      </button>
    </div>
    <div class="photos-block flex">
      <img class="top-left-photo" src="images/blue-lagoons-coffee.jpg">
      <img class="top-right-photo" src="images/canyon-view-hiker.jpg">
      <img class="bottom-left-photo" src="images/winter-extreme-snowmobile.jpg">
      <img class="bottom-right-photo" src="images/autumn-mountain-river.jpg">
    </div>
  </div>
</section>

<section class="gray-bg popular-destinations">
  <div class="main-title-wrapper">
    <span class="main-pre-title">по версии отдыхающих</span>
    <span class="main-title">Популярные направления</span>
  </div>
  <div class="container flex space-between tour-cards-container">
    @for (tour of tours; track tour.id) {
      <div class="tour-card">
        <div class="rating-label">
          <img src="/images/star-rating-icon.svg" alt="star">
          <span class="rating bold"> {{ tour.rating.toFixed(1) }}</span>
        </div>
        <img class="tour-image" [src]="'/images/' + tour.image + '.jpg'" alt="tour image">
        <div class="tour-card-wrapper">
          <div class="titles">
            <span class="title fs-24 bold">{{ tour.title }}</span>
            <span class="subtitle fs-14">{{ tour.subtitle }}</span>
          </div>
          <div class="price flex ai-center jc-center">{{tour.price}} &#36;</div>
        </div>
      </div>
    }
  </div>
  <button
    class="main-green-btn tours-rating"
    id="tours-rating-button"
    (click)="messageService.showSucces('Рейтинг получен')"
  >
    Рейтинг направлений
  </button>
</section>

<section class="travel-blog flex ai-center">
  <div class="main-title-wrapper">
    <span class="main-pre-title">делимся впечатлениями</span>
    <span class="main-title">Блог о путешествиях</span>
  </div>
  <div class="container travel-cards-container">
    @for (article of blogPosts; track article.id) {
      <div class="blog-article flex ai-center space-between">
        <img [src]="'/images/' + article.image + '.jpg'" alt="blog article" class="blog-image">
        <div class="blog-information flex space-between">
          <div class="text-wrapper">
            <span class="fs-24 bold">{{ article.title }}</span>
            <p>{{ article.information }}</p>
          </div>
          <div class="flex space-between">
            <span class="date bold">{{ article.date }}</span>
            <a class="article-link bold">читать статью</a>
          </div>
        </div>
      </div>
    }
  </div>
  <button
    id="other-materials-button"
    class="main-green-btn other-materials-button"
    (click)="messageService.showError('Материалы не доступны')"
  >
    Другие материалы
  </button>
</section>

<section class="travel-grid">
  <div class="main-title-wrapper">
    <span class="main-pre-title">фото-отчет</span>
    <span class="main-title">Делимся впечатлениями</span>
  </div>
  <div class="container portfolio">
    <img src="/images/cappadocia_balloons.jpg" class="rectangular-image">
    <img src="/images/vintage_travel_journal.jpg" class="square-image">
    <img src="/images/tropical_beach_boats.jpg" class="square-image">
    <img src="/images/horseshoe_bend_arizona.jpg" class="rectangular-image">
    <img src="/images/travel_flatlay_camera.jpg" class="square-image">
    <img src="/images/burj_al_arab_dubai.jpg" class="square-image">
  </div>
  <button class="main-green-btn" id="pinterest-subscribe">Наш pinterest</button>
</section>
