@use './fonts';
@use './buttons';
@use './forms';
@use './normalize';

* {
  font-family: 'Nunito Sans';
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

select:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.space-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}

.container {
  width: 1180px;
}

.super-container {
  display: block;
  width: 1920px;
  height: 985px;
}

:root {
  --primary-color: #18121E;
  --secondary-color: #FDFDFD;
  --yellow-color: #F2BE22;
  --green-color: #1A3E3E;
  --bg-second-color: #F3F5F4;
  --beige-color: #D4A373;
  --gray-color: #667C7C;
}

.p-dark {
  --primary-color: #F5F5F5;
  --bg-second-color: #222222;
  --secondary-color: #FDFDFD;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-26 {
  font-size: 26px !important;
}

.fs-32 {
  font-size: 32px !important;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.extra-bold {
  font-weight: 800;
}

.light {
  font-weight: 300;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.gradient-border-active {
  border: var(--border-thickness, 4px) solid transparent !important;
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(
      var(--angle),
      var(--gradient-colors)
    ) border-box !important;
  animation: rotate-gradient 3s linear infinite;
}

@keyframes rotate-gradient {
  to { --angle: 360deg; }
}