@use './fonts';
@use './buttons';
@use './forms';
@use './normalize';

* {
  font-family: 'Nunito Sans';
  margin: 0px;
  padding: 0px;
  color: var(--primary-color);
  box-sizing: border-box;
}

select:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.space-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.container {
  width: 1180px;
}

.white-bg {
  background-color: rgba(255, 255, 255, 1);
}

.gray-bg {
  background-color: rgba(243, 245, 244, 1);
}

.super-container {
  display: block;
  width: 1920px;
  height: 985px;
}

:root {
  --primary-color: #18121E;
  --secondary-color: #FDFDFD;
  --yellow-color: #F2BE22;
  --green-color: #1A3E3E;
  --bg-color-gray: #F3F5F4;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.extra-bold {
  font-weight: 800;
}