@use './fonts';
@use './buttons';
@use './forms';
@use './normalize';

* {
  font-family: 'Nunito Sans';
  margin: 0px;
  padding: 0px;
}

.container {
  display: block;
  width: 1180px;
}

.super-container {
  display: block;
  width: 1920px;
  height: 985px;
}

:root {
  --primary-color: #18121E;
  --secondary-color: #FDFDFD;
  --yellow-color: #F2BE22;
  --button-color-green: #1A3E3E;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}